doctype html 5
html
    head
        title Form Awesome
        link(rel="stylesheet", href="/styles/font-awesome.min.css")
        link(rel="stylesheet", href="/styles/home.min.css")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    body
        #bg
        #wrapper
            #fullCenter
                h1 Form Awesome
                h3 Create beautiful forms, awesomely.
                h5 Free & open-source, forever.
                a(href="/create") Create yours now
            #overlay
                i.fa.fa-spinner.fa-spin.fa-5x
                h5 Loading
        script(src="/js/jquery.min.js")
        script(src="/js/home.js")
