doctype html 5
html
    head
        title Form Awesome
        link(rel="stylesheet", href="/styles/font-awesome.min.css")
        link(rel="stylesheet", href="/styles/me.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        #wrapper
            p Dear {mail}, you have these forms associated to your mail. (They're locked with a passphrase)
            ul
                li Form1
                li Form2
        script(src="/js/form.js")
